.chaxbox-container {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 3em;
  grid-template-areas:
    "body"
    "input";
  .chat-body {
    grid-area: body;
    max-height: 100%;
  }

  .chat-input {
    grid-area: input;
    .form {
      display: flex;
      background: rgba(24, 68, 81, 0.2);
      border-radius: 0 5rem 5rem 0;
      padding-right: -1em;
      position: relative;
      button {
        padding: 0;
        justify-self: flex-end;
        width: 5rem;
      }
    }

    .input {
      border: none;
      border-radius: 0;
      padding: 1.2em;
      width: calc(100% - 5rem);
      font-size: 1.2em;
      height: 1.2em;
      background: transparent;
    }

    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }

    .sendButton {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #2979ff;
      padding: 0;
      display: inline-block;
      border: none;
      width: 20%;
    }
  }
}

.messages {
  grid-area: body;
  max-height: 100%;
  overflow: auto;
  flex: auto;
}

.messageBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #2979ff;
}

.backgroundLight {
  background: #f3f3f3;
}
