.course-detail {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-areas: "namelist classdetail";
  grid-template-columns: 15% 1fr;
  position: relative;
}

.course-content-container {
  grid-area: classdetail;
  max-height: calc(100vh - 80px);
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "coursehead"
    "courserank"
    "coursechat";
  grid-template-rows: 15% 15% 70%;
  .course-head {
    grid-area: coursehead;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .course-ranking {
    grid-area: courserank;
  }

  .course-chat-container {
    grid-area: coursechat;
    height: 100%;
    // background-color: blanchedalmond;
  }
}

.list-name {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-area: namelist;
  ul li {
    width: 100%;
    list-style-type: none;
  }
}
