.student-enroll-container {
  position: fixed;
  width: 90vw;
  background-color: red;
  z-index: 3;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.fancy {
  -webkit-appearance: button;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  width: 100%;

  &::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 0.8em;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: background 0.3s linear, width 0.3s linear;
    transition: background 0.3s linear, width 0.3s linear;
  }
  a {
    font-size: 1;
    line-height: 1.2rem;
    padding-left: 1.1em;
    display: block;
    text-align: left;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }

  .top-key {
    height: 2px;
    width: 1.2rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    -webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }

  .bottom-key-1 {
    height: 2px;
    width: 1.2rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }

  &:hover {
    color: white;
    background: black;

    &::before {
      width: 0.9375rem;
      background: white;
    }

    a {
      color: white;
      padding-left: 1.5em;
    }

    .top-key {
      left: -2px;
      width: 0px;
    }
    .bottom-key-1,
    .bottom-key-2 {
      right: 0;
      width: 0;
    }
  }
}
