@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-header: "Pattaya", sans-serif;
$font: "Kanit", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: #555555;
  border-radius: 5rem;
  border: none;
  color: white;
  padding: 1rem 0.5rem;
  margin: 0.25rem;
  font-size: 1.2rem;
  cursor: pointer;
}

body {
  position: relative;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* Firefox */
}

.top-nav {
  position: fixed;
  height: 80px;
  display: flex;
  width: 95vw;
  margin-left: 2.5vw;
  justify-content: space-between;
  align-items: center;
  // background-color: aquamarine;
  #logo {
    font-size: 2rem;
  }
}

.container {
  display: flex;
  .side-nav {
    // background-color: bisque;
    position: fixed;
    width: 100px;
    margin-top: 80px;
    ul {
      display: flex;
      flex-direction: column;
      padding: 1rem 0.5rem;
      li {
        padding: 1rem;
      }
    }
  }

  .content {
    // background: linear-gradient(rgb(255, 255, 255), rgb(100, 100, 100));
    margin-left: 100px;
    margin-top: 80px;
    padding: 2rem;
    width: 100%;
    overflow-y: scroll;
    .test {
      height: 200vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: flex-start;
    }
  }
}

@import "./profile";
@import "./login";
@import "./course";
